/* PC */
@media(min-width: 1024px) {
    #header .mobile-menu-button {
        display: none;
    }
}


/* Tablet */
@media(min-width: 740px) and (max-width: 1023px) {
    #header .mobile-menu-button {
        display: none;
    }

    #content .content-section {
        max-width: 100%;
    }

    .place-buy-btn {
        padding: 15px 15px;
    }

    #footer .socials-list {
        font-size: 48px;
    }

    #footer .socials-list a {
        margin: 0 4px;
    }

    #footer .copy-right a {
        padding: 8px 0;
        display: inline-block;
    }
}

/* Mobile */
@media(max-width: 739px) {

    .row {
        padding: 0 8px;
    }

    .column {
        width: 100%;
        padding: 8px 0;
    }

    #nav {
        width: 100%;
        display: block;
    }

    #nav > li {
        display: block;
    }
    
    #nav > li:hover {
        background-color:#ccc;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav > li > a {
        width: 100%;
    }

    #nav .subnav {
        position: initial;
        background-color:#000;
    }

    #nav .subnav a {
        width: 100%;
        color: #fff;
        padding: 4px 42px;
    }

    #nav .subnav a:hover {
        color: #000;
        background-color: #ccc;
    }

    #nav li a {
        padding: 2px 24px;
    }

    #header {
        overflow: hidden;
    }

    #header .search-button {
        display: none;
    }

    #header .mobile-menu-button {
        position: absolute;
        top: 0;
        right: 0;
        float: right;
        color: #fff;
        line-height: 46px;
        padding: 0 16px;
    }

    #header .mobile-menu-button:hover {
        color: #000;
        background-color: #ccc;
    }

    #content .content-section {
        max-width: 100%;
    }

    .contact-form .form-submit-button {
        width: 100%;
    }

    .s-fix-mt-8 {
        margin-top: -8px !important;
    }

    .place-buy-btn {
        width: 100%;
        padding: 15px 15px;
    }

    #footer .socials-list {
        font-size: 42px;
    }

    #footer .copy-right a {
        padding: 12px 0;
        display: inline-block;
    }

    .contact-info {
        line-height: 1.8;
    }
}